/* ここからは、テキストフォームのデザインに関する設定です。 */
#_111_input{
    position: absolute; /* */
  left : 5%;
	z-index:999; /* */
  font-size: calc(6px + 64 * (100vw - 100px) / 1920); /* ←この数字は文字の大きさを表しています */
	width : 90%; /* ←この数字はウインドウの幅を表しています */
	height : 10%; /* ←この数字はウインドウの高さを表しています */


	font-weight:bold;
    color: #f8f8f8;
    text-align: center;
    text-shadow: black 2px 2px 0px, black -2px 2px 0px,
                 black 2px -2px 0px, black -2px -2px 0px;
    font-family: GameFont;

    border-radius: 12px 12px 12px 12px;
    background: rgba(0,0,0, 0.5);
}
/* ここからは、決定ボタンのデザインに関する設定です。 */
#_111_submit{
	position: absolute; /* */
	z-index:0; /* */
	font-size: 0px; /* ←この数字は文字の大きさを表しています */
  left : 50%;
  bottom : 50%;

	/* font-weight:bold;
    color: #f8f8f8;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px,
                 black 1px -1px 0px, black -1px -1px 0px;
    font-family: GameFont; */

    border:none
}

:focus {
    outline: none;
}
